<button type="text" mat-raised-button color="primary" (click)="markAllRequired()">
  Mark All fields Required
</button>
{{ profileForm.value | json }}
<form novalidate #profileForm="ngForm" (ngSubmit)="submit(profileForm)">
  <mat-form-field>
    <mat-label>Full name</mat-label>
    <input matInput #fullNameControl="ngModel" name="fullName" [(ngModel)]="model.fullName" [required]="required">
    <mat-error>
      {{fullNameControl.errors | json}}
    </mat-error>
  </mat-form-field>
  <div>
    <mat-slide-toggle style="margin-right: 10px;">
      Want to add email?
    </mat-slide-toggle>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput name="email" [(ngModel)]="model.email" [required]="required">
    </mat-form-field>
  </div>
  <div class="address" ngModelGroup="address">
    <h4>Current Address</h4>
    <mat-form-field>
      <mat-label>Address</mat-label>
      <textarea matInput placeholder="Ex. 100 Main St" name="address1" ngModel [required]="required">
      </textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address 2</mat-label>
      <textarea matInput name="address2" ngModel="address2" [required]="required"></textarea>
    </mat-form-field>
  </div>
  <div>
    <h4>Languages</h4>
    <button type="button" mat-stroked-button (click)="addLanguage()">
      <mat-icon>add</mat-icon> Add
    </button>
    <ng-container *ngFor="let item of model.languages">
      <div>
        <mat-form-field>
          <mat-label>Language Name</mat-label>
          <mat-select>
            <mat-option *ngFor="let language of languages" [value]="language">
              {{language}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Fluency</mat-label>
          <mat-select>
            <mat-option *ngFor="let proficiency of proficiencies" [value]="proficiency">
              {{proficiency}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </ng-container>
  </div>
  <button type="submit" mat-raised-button color="primary">
    Submit
  </button>
</form>
