<button type="text" mat-raised-button color="primary" (click)="allFieldRequired = true">
  Mark All fields Required
</button>
{{ profileForm.value | json}}
<form novalidate #profileForm="ngForm" (ngSubmit)="submit(profileForm)">
  <mat-form-field>
    <mat-label>Full name</mat-label>
    <input matInput name="fullName1" [(ngModel)]="model.fullName" [required]="allFieldRequired">
  </mat-form-field>
  <div>
    <mat-slide-toggle style="margin-right: 10px;">
      Want to add email?
    </mat-slide-toggle>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput name="email" [(ngModel)]="model.email"  [required]="allFieldRequired">
    </mat-form-field>
  </div>
  <div class="address">
    <h4>Current Address</h4>
    <mat-form-field>
      <mat-label>Address</mat-label>
      <textarea matInput placeholder="Ex. 100 Main St" name="address" [(ngModel)]="model.address"  [required]="allFieldRequired"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address 2</mat-label>
      <textarea matInput name="address2" [(ngModel)]="model.address2"  [required]="allFieldRequired"></textarea>
    </mat-form-field>
  </div>
  <button type="submit" mat-raised-button color="primary">
    Submit
  </button>
</form>
