<button type="text" mat-raised-button color="primary">
  Mark All fields Required
</button>
{{ profileForm.value | json }}
<form novalidate [formGroup]="profileForm">
  <mat-form-field>
    <mat-label>Full name</mat-label>
    <input matInput formControlName="fullName">
  </mat-form-field>
  <div>
    <mat-slide-toggle style="margin-right: 10px;" (change)="toggle($event)">
      Want to add email?
    </mat-slide-toggle>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
  </div>
  <div class="address">
    <h4>Current Address</h4>
    <mat-form-field>
      <mat-label>Address</mat-label>
      <textarea matInput placeholder="Ex. 100 Main St" formControlName="address">1600 Amphitheatre Pkwy</textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address 2</mat-label>
      <textarea matInput formControlName="address2"></textarea>
    </mat-form-field>
  </div>
  <div>
    <h4>Languages</h4>
    <button type="button" mat-stroked-button (click)="addLanguage()">
      <mat-icon>add</mat-icon> Add
    </button>

    <div formArrayName="languages">
      <ng-container *ngFor="let item of getLanguages();let i = index">
        <div [formGroupName]="i">
          <mat-form-field>
            <mat-label>Language Name</mat-label>
            <mat-select formControlName="language">
              <mat-option *ngFor="let language of languages" [value]="language">
                {{language}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Fluency</mat-label>
            <mat-select formControlName="fluency">
              <mat-option *ngFor="let proficiency of proficiencies" [value]="proficiency">
                {{proficiency}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-container>
    </div>
  </div>
  <button mat-raised-button color="primary">Submit</button>
</form>
